.recipe-card-container {
  width: 25%;
  height: 140px;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  border-radius: 22px;
  background: #ebf5fa;
  -webkit-box-shadow: 10px 7px 30px -7px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 10px 7px 30px -7px rgba(0, 0, 0, 0.76);
  box-shadow: 10px 7px 30px -7px rgba(0, 0, 0, 0.76);
  margin: 3rem;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.recipe-card-container p {
  font-size: 18px;
  text-align: center;
}

.recipe-card-container img {
  width: 180px;
}

.recipe-card-container:hover {
  transform: scale(1.1);
}
