main {
  width: 100vw;
  height: 100vh;
}

.sign-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.img-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  filter: brightness(50%);
}

.img-content h1 {
  font-size: 88px;
  width: 45%;
  position: absolute;
  color: #fff;
}

.img-content h1 span {
  color: #eb1d36;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background: #fff;

  -webkit-box-shadow: 6px 6px 22px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 22px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 22px -1px rgba(0, 0, 0, 0.75);
}

.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-title h1 {
  font-size: 38px;
}

.logo h1 {
  font-size: 58px;
}

.logo span {
  color: #eb1d36;
}

.form-title .icon {
  color: #eb1d36;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.fields p {
  align-self: flex-end;
  color: grey;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button img {
  height: 30px;
  width: 30px;
  margin-right: 1rem;
  object-fit: cover;
}

.buttons button img.custom-icon-style {
  height: 36px;
}

.sign-externals-account {
  display: flex;
}

.sign-externals-account button {
  margin: 1rem;
}

.alternatives {
  margin: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}

hr {
  margin: 1rem;
  width: 30%;
  height: 1px;
  background: grey;
}

.dont-have-account span {
  font-weight: bold;
  font-size: 18px;
}
