header.header-default {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

header.header-default nav ul {
  font-size: 18px;
  display: flex;
}

header.header-default nav ul li {
  margin: 1rem;
}

header.header-default span {
  color: #eb1d36;
}

header.header-default li {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

header.header-default li:hover {
  transform: scale(1.2);
}

header.header-default a:hover {
  color: #eb1d36;
}

header.header-default a#active {
  color: #eb1d36;
}

header.header-default a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

header.header-default .sign-login {
  display: flex;
  align-items: center;
}

header.header-default .sign-login h3 {
  margin: 1rem;
}