header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

header nav ul {
  font-size: 18px;
  display: flex;
}

header nav ul li {
  margin: 1rem;
}

header span {
  color: #eb1d36;
}

li {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.2);
}

a:hover {
  color: #eb1d36;
}

a#active {
  color: #eb1d36;
}

a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

.sign-login {
  display: flex;
  align-items: center;
}

.sign-login h3 {
  margin: 1rem;
}

.sign-login .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-login .avatar p {
  margin: 1rem;
  font-weight: 500;
  font-size: 18px;
}

.sign-login .avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  -webkit-box-shadow: 3px 4px 12px -2px rgba(102, 102, 102, 1);
  -moz-box-shadow: 3px 4px 12px -2px rgba(102, 102, 102, 1);
  box-shadow: 3px 4px 12px -2px rgba(102, 102, 102, 1);
}
